<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>codes</key>
		<dict>
			<key>## INSERT NAME OF COMMAND HERE ##</key><string>## INSERT LEARNED CODE HERE IN EITHER GC OR PRONTO FORMAT PER SAMPLES BELOW ##</string>
			<key>## INSERT NAME OF COMMAND HERE ##</key><string>## INSERT LEARNED CODE HERE IN EITHER GC OR PRONTO FORMAT PER SAMPLES BELOW ##</string>
			<key>## INSERT NAME OF COMMAND HERE ##</key><string>## INSERT LEARNED CODE HERE IN EITHER GC OR PRONTO FORMAT PER SAMPLES BELOW ##</string>
			<key>## USE COMMAND NAMES FROM THE DDK WHENEVER POSSIBLE ##</key><string>## JUST COPY MORE OF THESE LINES FOR EACH COMMAND IN THE SET ##</string>

			<key>SAMPLE GC CODE - DELETE THESE LINES</key><string>36000,%d,1,96,32,16,16,16,16,16,32,16,32,48,32,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,32,16,16,16,16,16,16,32,32,16,16,16,16,32,32,32,16,16,16,16,16,16,16,16,16,16,32,16,16,32,32,2492</string>
			<key>GC NOTE - DELETE THESE LINES</key><string>## OPTIONALLY CHANGE '1' TO '%d' IN EACH CODE TO ENABLE REPEAT FUNCTIONALITY ##</string>
			<key>GC NOTE - DELETE THESE LINES</key><string>## COPY FROM THE FREQUENCY SUCH AS '38000' THROUGH THE END OF THE CODE ##</string>
			<key>SAMPLE PRONTO CODE - DELETE THESE LINES</key><string>0000 006E 0000 0022 0155 00AB 0015 0015 0015 0015 0015 0040 0015 0015 0015 0015 0015 0015 0015 0015 0015 0040 0015 0015 0015 0015 0015 0015 0015 0015 0015 0015 0015 0040 0015 0015 0015 0015 0015 0015 0015 0040 0015 0015 0015 0015 0015 0015 0015 0015 0015 0015 0015 0015 0015 0040 0015 0015 0015 0040 0015 0040 0015 0040 0015 0040 0015 0040 0015 0040 0015 0EB5</string>
			<key>PRONTO - DELETE THESE LINES</key><string>## VALID CODES MUST BEGIN WITH 0000 ##</string>
		</dict>
		<key>method</key>
		<string>gc</string>
		<key>brand</key>
		<string>##INSERT BRAND NAME HERE SUCH AS 'Yamaha'##</string>
		<key>cat</key>
		<string>##INSERT CATEGORY NAME HERE SUCH AS 'BDT-220' AND THEN INSERT NUMERIC CATEGORY FROM DDK 'AVAILABLE DEVICE TYPES' SECTION REPLACING THE 1 AFTER the INTEGER TAG BELOW ##</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
</array>
</plist>
