<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>brand</key>
		<string>Monoprice</string>
		<key>cat</key>
		<string>Main Unit 1: All Zones</string>
		<key>codes</key>
		<dict>
			<key>INPUT 1</key>
			<string>&lt;10CH01</string>
			<key>INPUT 2</key>
			<string>&lt;10CH02</string>
			<key>INPUT 3</key>
			<string>&lt;10CH03</string>
			<key>INPUT 4</key>
			<string>&lt;10CH04</string>
			<key>INPUT 5</key>
			<string>&lt;10CH05</string>
			<key>INPUT 6</key>
			<string>&lt;10CH06</string>
			<key>POWER OFF</key>
			<string>&lt;10PR00</string>
			<key>POWER ON</key>
			<string>&lt;10PR01</string>
			<key>MUTE ON</key>
			<string>&lt;10MU01</string>
			<key>MUTE OFF</key>
			<string>&lt;10MU00</string>
		</dict>
		<key>method</key>
		<string>lineio</string>
		<key>type</key>
		<integer>14</integer>
		<key>uuid</key>
		<string>600EA0A4-5B43-4CF2-B077-5CE41BD56434</string>
	</dict>
	<dict>
		<key>brand</key>
		<string>Monoprice</string>
		<key>cat</key>
		<string>Main Unit 2: All Zones</string>
		<key>codes</key>
		<dict>
			<key>INPUT 1</key>
			<string>&lt;20CH01</string>
			<key>INPUT 2</key>
			<string>&lt;20CH02</string>
			<key>INPUT 3</key>
			<string>&lt;20CH03</string>
			<key>INPUT 4</key>
			<string>&lt;20CH04</string>
			<key>INPUT 5</key>
			<string>&lt;20CH05</string>
			<key>INPUT 6</key>
			<string>&lt;20CH06</string>
			<key>POWER OFF</key>
			<string>&lt;20PR00</string>
			<key>POWER ON</key>
			<string>&lt;20PR01</string>
			<key>MUTE ON</key>
			<string>&lt;20MU01</string>
			<key>MUTE OFF</key>
			<string>&lt;20MU00</string>
		</dict>
		<key>method</key>
		<string>lineio</string>
		<key>type</key>
		<integer>14</integer>
		<key>uuid</key>
		<string>55CAF840-A520-4ADD-9BFD-E9BE0C98D374</string>
	</dict>
	<dict>
		<key>brand</key>
		<string>Monoprice</string>
		<key>cat</key>
		<string>Main Unit 3: All Zones</string>
		<key>codes</key>
		<dict>
			<key>INPUT 1</key>
			<string>&lt;30CH01</string>
			<key>INPUT 2</key>
			<string>&lt;30CH02</string>
			<key>INPUT 3</key>
			<string>&lt;30CH03</string>
			<key>INPUT 4</key>
			<string>&lt;30CH04</string>
			<key>INPUT 5</key>
			<string>&lt;30CH05</string>
			<key>INPUT 6</key>
			<string>&lt;30CH06</string>
			<key>POWER OFF</key>
			<string>&lt;30PR00</string>
			<key>POWER ON</key>
			<string>&lt;30PR01</string>
			<key>MUTE ON</key>
			<string>&lt;30MU01</string>
			<key>MUTE OFF</key>
			<string>&lt;30MU00</string>
		</dict>
		<key>method</key>
		<string>lineio</string>
		<key>type</key>
		<integer>14</integer>
		<key>uuid</key>
		<string>534825EF-6D3F-430A-9350-EF3FB28325B8</string>
	</dict>
	<dict>
		<key>brand</key>
		<string>Monoprice</string>
		<key>cat</key>
		<string>Unit 1:Zone 1</string>
		<key>codes</key>
		<dict>
			<key>INPUT 1</key>
			<string>&lt;11CH01</string>
			<key>INPUT 2</key>
			<string>&lt;11CH02</string>
			<key>INPUT 3</key>
			<string>&lt;11CH03</string>
			<key>INPUT 4</key>
			<string>&lt;11CH04</string>
			<key>INPUT 5</key>
			<string>&lt;11CH05</string>
			<key>INPUT 6</key>
			<string>&lt;11CH06</string>
			<key>POWER OFF</key>
			<string>&lt;11PR00</string>
			<key>POWER ON</key>
			<string>&lt;11PR01</string>
			<key>MUTE ON</key>
			<string>&lt;11MU01</string>
			<key>MUTE OFF</key>
			<string>&lt;11MU00</string>
			<key>.VOLUME FORMAT</key>
			<string>402</string>
			<key>.VOLUME SET</key>
			<data>&lt;11VO##</data>
			<key>.STATUS</key>
			<data>?11</data>
		</dict>
		<key>method</key>
		<string>lineio</string>
		<key>type</key>
		<integer>14</integer>
		<key>uuid</key>
		<string>77C267FF-A0B1-4304-91BA-5605F6191F8C</string>
	</dict>
</array>
</plist>
